// Navigation code here

nav {
    display: flex;
    .centerColumn;
    background: @porcelain;
    border-radius: 10px;
    position: fixed;
    width: 100%;
    opacity: 0.5;

    h1 {
        font-size: 4rem;

        @media @phone {
            padding: 2% 0;
        }
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        width: 375px;
        padding: 1% 0 0.5% 0;

        @media @phone {
            width: 75%;
            padding-bottom: 2%;
        }

        .nav-link {
            font-size: 1.6rem;
            text-decoration: none;
            color: black;
        }
    }
}

.nav-space {
    height: 85px;
}